.container
  %hr.col-md-12
    %label.new_roman
      = a.check_box :answer
      = render :partial => 'render_text', :locals => { :answer => answer }
      %input{ :type => 'hidden', :value => answer.id }