- if !answer.present? || !answer.template_field.name.present?
  .container
    .col-md-4
    .col-md-3.move_to_up
      = a.text_field :answer, :class => 'form-control'
- else
  .container
    .row.new_roman.col-md-12
      = render :partial => 'render_text', :locals => { :answer => answer }
    .row.new_roman.col-md-12
      = a.text_field :answer, :class => 'form-control'
    .row.new_roman.col-md-12
      = render :partial => 'render_example', :locals => { :answer => answer }
