%div{ :class => ("toggle_#{ answer.template_field.toggle_id + answer.toggler_offset }" if !answer.template_field.toggle_id.nil?), :data => { :toggle_option => "#{ answer.template_field.toggle_option }" } }
  .jumbotron
    .container
      = render :partial => 'render_text', :locals => { :answer => answer }
