.container
  .row.new_roman
    .col-md-12
      = render :partial => 'render_text', :locals => { :answer => answer }
      %span.new_roman <b>Same as Home /
      %span.new_roman.spain Igual de la casa </b>
      %input.radio_3{:name => 'Same as home', :type => 'radio'}
  .row.new_roman
    .col-md-12
      = a.text_field :answer, :class => 'form-control'
  .row.new_roman.col-md-2
    %input{ :type => 'hidden', :value => answer.id }
