- if answer.template_field.field_type == 'label'
  .container.margin-vertical-15
    = render :partial => 'render_text', :locals => { :answer => answer }
- else
  - amount_answer_if = answer.template_field.template_step.amount_if_answer(answer.document)
  - if amount_answer_if.nil? || amount_answer_if == answer.template_field.template_step.amount_field_if_option
    .jumbotron
      .container
        = render :partial => 'render_text', :locals => { :answer => answer }
        %input{ :type => 'hidden', :value => answer.id }