.jumbotron
  .container
    %h1 Hello
    %p Here you can find some blanks... blah blah blah

.container
  - @templates.each_with_index do |template, index|
    - if index % 3 == 0
      .row
    .col-md-4
      %h2= template
      %p=  template.to_desc
      %p= link_to 'View details >>', new_template_document_path(template), :class => 'btn btn-default'