.jumbotron
  .container.new_roman
    %h3
      Recent documents /
      %span.spain Documentos recientes

    - if @documents.present?
      %h2.text-muted
        - if user_signed_in?
          Welcome Back /
          %span.spain Gracias por volver
      - document = @documents.sort_by(&:updated_at).first
      = link_to document_answer_path(document, 1) do
        = document.to_s.split('<spain/>').first
        %span.spain= document.to_s.split('<spain/>').last
      %br
    - else
      %hr
      You have no documents filed recently
      .spain No hay documentos presentados recientemente

.container.new_roman
  .col-md-4
    %h3
      %p= link_to 'Complaint for Divorce / Demanda de Divorcio >>', template_documents_path(@templates.first), :class => 'btn btn-default new_roman', :method => :post