.jumbotron
  .container
    %h2 Forms Mama
    %p A unique online multilingual Self-Help forms site
    - if @documents.present?
      %h2.text-muted
        - if user_signed_in?
          Welcome Back /
          %span.spain Gracias por volver
      - @documents.each do |document|
        = link_to document, document_answer_path(document, 1)
        %br

.container
  - @templates.each_with_index do |template, index|
    - if index % 3 == 0
      .row
    .col-md-4
      %h3= template
      %p=  template.to_desc
      %p= link_to 'Start new >>', template_documents_path(template), :class => 'btn btn-default', :method => :post