.jumbotron
  .container.new_roman
    %h2.text-muted
      Welcome Back /
      %span.spain Bienvenido

    %p= link_to 'Continue with your forms >>', templates_path, :class => 'btn btn-default new_roman'
    / In prodaction user always must have documet
    - if @documents.select { |doc| doc.template.name == Document::FILED_CASE }.empty?
      %p= link_to 'Just filed >>', template_documents_path(:document_id => @documents.first.id, :template_id => ActiveRecord::Base::Template.where(:name => Document::FILED_CASE).first.id), :method => :post, :class => 'btn btn-default new_roman'
    - else
      %p= link_to 'Just filed >>', template_documents_path(:document_id => @documents.first.id, :template_id => ActiveRecord::Base::Template.where(:name => Document::AFTER_SERVICE).first.id), :method => :post, :class => 'btn btn-default new_roman'
