.jumbotron
  .container.new_roman
    %h2.text-muted
      Welcome /
      %span.spain Gracias

    %p= link_to 'Continue with forms / Continuar con solicitud >>', templates_path, :class => 'btn btn-default new_roman'
    %p= link_to 'My documents / My documents >>', pdf_files_path, :class => 'btn btn-default new_roman'




