.jumbotron
  .container.new_roman
    %h2.text-muted
      Welcome Back /
      %span.spain Bienvenido

    %p= link_to 'Continue with your forms >>', templates_path, :class => 'btn btn-default new_roman'
    %p= link_to 'Just filed >>', pdf_files_path, :class => 'btn btn-default new_roman'




