= form_for @document, :url => template_documents_path(@template), :html => { :class => "form-horizontal", :role => 'form' } do |f|
  .jumbotron
    .container
      %h2 Title for new document
      %p= f.text_field :title, :class => 'form-control'
  .container
    .pull-right
      = f.submit :Next, :class => 'form-control'
