- text = answer.kind_of?(DocumentAnswer) ? answer.template_field.to_text(@document, @amount_index) : answer
- if text.present?

  - text.split('<spain/>').each_with_index do |value, index|
    - if index%2==0
      %strong.new_roman= value.strip.html_safe
    - else
      %strong.new_roman.spain= value.strip.html_safe

- if answer.kind_of?(DocumentAnswer) && flash.any?
  - if !answer.template_field.mandatory.nil? && answer.answer.nil? || !answer.template_field.mandatory.nil? && !answer.answer.match(answer.template_field.mandatory[:value])
    %span.alert-danger.padding-horizontal-10= answer.template_field.mandatory[:hint]