$('#questionare').replaceWith('<%= escape_javascript render("form") %>');

$('[class^="toggle_"]').each(function(){
  var this_prop_class = '.' + $(this).prop('class');
  if($(this_prop_class    + ':first :checkbox').length > 0){
    if(!$(this_prop_class + ':first :checkbox').is(':checked'))
      $(this_prop_class   + ':not(:first)').hide();
  }

  if($(this_prop_class + ':first [type="radio"]').length > 0){
    var selected_value = $(this_prop_class + ' [type="radio"]:checked').val();
    $(this_prop_class + ':not(:first)').hide().each(function(){
      if(selected_value != undefined)
        if(selected_value.indexOf($(this).data('toggle-option')) != -1)
          $(this).show();
    });
  }

  $('.' + $(this).prop('class') + ':first:has([type="radio"])').change(function(){
    var selected_value = $('.' + $(this).prop('class') + ' [type="radio"]:checked').val();

    $('.' + $(this).prop('class') + ':not(:first)').hide().each(function(){
      hide_sub_toggles($(this), selected_value);
    });
  });
});

$('[data-sub-toggle]').each(function(){
  var this_class = '.' + $(this).prop('class');
  var result = parseInt($(this).prop('class').substr(7, $(this).prop('class').length - 7)) + 1;
  var this_class_next = '.toggle_' + result;
  var selected_value = $(this_class + ' [type="radio"]:checked:last').val();

  $(this_class_next).hide().each(function(){
    if(selected_value != undefined)
      if(selected_value.indexOf($(this).data('toggle-option')) != -1)
        $(this).show();
  });

  $(this_class + '[data-sub-toggle="'+ $(this).data('sub-toggle')+'"]').change(function(){
    var selected_value = $('.' + $(this).prop('class') + ' [type="radio"]:checked:last').val();
    $(this_class_next).hide().each(function(){
      hide_sub_toggles($(this), selected_value);
    });
  });
});

var date_without_day = $('.date_without_day');
var date = $('.date');

if (date.length > 0 || date_without_day.length > 0){
  var months = '<option value="1">January / Enero</option>' +
                   '<option value="2">February / Febrero</option>' +
                   '<option value="3">March / Marzo</option>' +
                   '<option value="4">April / Abril</option>' +
                   '<option value="5">May / Mayo</option>' +
                   '<option value="6">June / Junio</option>' +
                   '<option value="7">July / Julio</option>' +
                   '<option value="8">August / Agosto</option>' +
                   '<option value="9">September / Septiembre</option>' +
                   '<option value="10">October / Octubre</option>' +
                   '<option value="11">November / Noviembre</option>' +
                   '<option value="12">December / Diciembre</option>';

  var years_without_day = '';
  var start_year_without_day = 2009;
  var days = '';
  var years = '';
  var start_year = 1900;

  for( i = 1; i <= 31; ++i )
      days += '<option>' + i + '</option>';

  for( i = new Date().getFullYear(); i >= start_year; --i )
      years += '<option>' + i + '</option>';

  for( i = new Date().getFullYear(); i >= start_year_without_day; --i )
        years_without_day += '<option>' + i + '</option>';

  date_without_day.append('<div class="col-md-3 margin-left"><select class="month form-control">'+ '<option disabled="disabled" selected="selected" value="">Month / Mes</option>' + months + '</select></div>' +
                  '<div class="col-md-2 margin-left"><select class="year form-control">' + '<option disabled="disabled" selected="selected">Year / Año</option>' + years_without_day + '</select></div>');

  date.append('<div class="col-md-3 margin-left"><select class="month form-control">'+ '<option disabled="disabled" selected="selected" value="">Month / Mes</option>' + months + '</select></div>' +
                '<div class="col-md-2 margin-left"><select class="day form-control">'  + '<option disabled="disabled" selected="selected">Day / Día</option>' + days + '</select></div>' +
                '<div class="col-md-2 margin-left"><select class="year form-control">' + '<option disabled="disabled" selected="selected">Year / Año</option>' + years + '</select></div>');

  $('.date select').each(function(){
    $(this).change(function(){

      var _this = $(this);
      date = _this.parent().parent().find('[type="hidden"]');
      date.val('');

      _this.parent().parent().find('.form-control').each(function(){
        if (date.val().length > 0)
          date.val(date.val() + '/');
        date.val(date.val() + $(this).val());
      });
    });
  });

  date.find('[type="hidden"]').each(function(){

    var _this = $(this);
    if(_this.val().length > 0){
      selects = _this.parent().find('.form-control');
      selects.first().val(_this.val().split('/')[0]);
      selects.first().parent().next().children().val(_this.val().split('/')[1]);
      selects.last().val(_this.val().split('/')[2]);
    }
  });

  $('.date_without_day select').each(function(){
    $(this).change(function(){

      var _this = $(this);
      date_without_day = _this.parent().parent().find('[type="hidden"]');
      date_without_day.val('');

      _this.parent().parent().find('.form-control').each(function(){
        if (date_without_day.val().length > 0)
          date_without_day.val(date_without_day.val() + '/');
        date_without_day.val(date_without_day.val() + $(this).val());
      });
    });
  });

  date_without_day.find('[type="hidden"]').each(function(){

    var _this = $(this);
    if(_this.val().length > 0){
      selects = _this.parent().find('.form-control');
      selects.first().val(_this.val().split('/')[0]);
      selects.first().parent().next().children().val(_this.val().split('/')[1]);
    }
  });
}

function hide_sub_toggles(_this, selected_value){
  var result = parseInt(_this.prop('class').substr(7, _this.prop('class').length - 7)) + 1;
  var current_class = '.toggle_' + result;

  if(_this.data('sub-toggle') != undefined){
    if( _this.find('[type="radio"]:checked').length > 0 ){
      _this.find('[type="radio"]:checked').prop('checked',false);
    }
    $(current_class).hide().each(function(){
      hide_sub_toggles($(this));
    });
  }
  if(selected_value!= undefined && selected_value.indexOf(_this.data('toggle-option')) != -1)
    _this.show();
}