%p Hello #{@resource.email}!

%p Someone has requested a link to change your password. You can do this through the link below.

%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)

%p If you didn't request this, please ignore this email.

%p Your password won't change until you access the link above and create a new one.

%hr
.spain{ :style => 'color: #009933;'}
  %p Hola #{@resource.email}!

  %p Alguien ha pedido un enlace para cambiar su contraseña. Usted puede hacer esto a través del siguiente enlace.

  %p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)

  %p Si usted no ha solicitado este, ignora este email.

  %p Su contraseña no cambiará hasta que acceda al enlace anterior y crear uno nuevo.