- flash.each do |name, message|
  %div{ :class => "alert alert-#{ name == 'notice' ? 'success' : 'danger' }" }
    .container
      %button.close{ 'aria-hidden' => 'true', 'data-dismiss' => 'alert', :type => 'button' } &times;
      = raw message
