.navbar{ :role => 'navigation' }
  .container

    .navbar-header
      = link_to 'Forms mama', root_path, :class => 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right

        %li{ :class => ('active' if current_page?(root_path)) }
          = link_to 'Welcome', root_path

        %li{ :class => ('active' if controller.controller_name.match /templates|documents|document_answers/) }
          = link_to 'Templates', templates_path