.navbar{ :role => 'navigation' }
  .container
    %h4
      %span.text-muted A unique online multilingual forms site /
      %span.spain Un sitio único y multilingüe de solicitudes

    .navbar-header
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Forms Mama', root_path
        %li
          %a{ :href => 'http://wp.formsmama.com' } About

    - if user_signed_in?
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right

          %li
            = link_to pdf_files_path do
              Documents /
              %span.spain Documentos

          %li
            = link_to templates_path do
              Templates /
              %span.spain Plantillas

          %li
            = link_to destroy_user_session_path, :method => :delete do
              Sign out /
              %span.spain Cerrar sesión